ul.nav a:hover { color: rgba(16, 97, 172, 1) !important; }

.navbar.navbar-default.navbar-static-top {
    padding: 10px 0px 10px 0px;
    margin: 0px;
    background: white;
}

.navbar.navbar-default.navbar-static-top .container {
    margin-right: 10px;
}

.navbar.navbar-default.navbar-static-top a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #505558;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
/*    margin-top: 25px;*/
    float: right;
    text-align: right;
}

#brand-image {

/*    width: auto;
    margin: 20px 0px 20px 20px;*/
    position: absolute;
    left: 10px;
    top: 0px;
    height: 60px;
    width: auto;
    margin-left: 0px;
    padding: 10px;
}

body {
    margin-bottom: 47px;
}

/*.middle {
  padding-top: 10px;
}*/

.col-md-4 {
  padding: 50px;
}
.col-md-4 h2 {
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #505558;
}

.col-md-4 p {
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #505558;
}



/*.navbar .nav > li > a {
font-size: 15px;
}
*/

/*.navbar.navbar-default.navbar-fixed-bottom .container {
    margin-right: auto;
    margin-left: auto;
}*/

/*body {
    margin: 0px;
}*/

/*body img {
    height: 30px;
    width: auto;
    margin: 20px 0px 20px 20px;
}*/

/*.container img {
    width: 100%;
    height: auto;
    margin: 0px 0px 0px 0px;
    padding: 0px;
}*/

/*@media (max-width: 745px) {
    .navbar li {
        display: block;
        padding: 5px 0px 5px 0px;
    }

    .navbar {
        padding: 0px 20px 0px 0px;
    }
}*/
@media (min-width: 768px) and (max-width: 850px) {
    .collapse,
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-default .navbar-toggle {
        display: block !important;
    }
}

.container-image img {
  width: 100%;
  object-fit: cover;
}
